@import url('https://fonts.googleapis.com/css?family=Slackey&display=swap');

* {

margin: 0;
padding: 0;
box-sizing: border-box;

}

body {

background-image: url("../assets/img/bg.png");
background-size: cover;
background-position: center;
overflow: hidden;

}



.container {

display: flex;
justify-content: center;
align-items: center;
height: 100%;
width: 100%;


#coins {

position: absolute;
top: 20px;
width: 100px;
text-align: center;
line-height: 100px;
height: 100px;
right: 70px;
text-transform: uppercase;
color: #fff;
font-family: 'Slackey', cursive;
font-size: 4rem;
background: #6992F2;
border-radius: 100%;


}

#kirby, #coin, #giraffe, #foreground, #cloud1, #cloud2, #cloud3{

position: absolute;


}




}